@font-face {
    font-family: Product Sans;
    src: url(/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(/fonts/Product\ Sans\ Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
}
nav{
    width: 100%;
    height: 10vh;
    /* background-color: whitesmoke; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw;
    position: fixed;
}
nav a{
 text-decoration: none;
 font-size: 1vw;
 color: #ffffff;
}
.cntr-nav{
    display: flex;
    gap: 3vw;
}
nav i{
    font-size: 1.5vw;
    color: #ffff;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(orange,rgb(255, 68, 0));
}
#fanta{
    width: 40%;
    z-index: 2;
    position: absolute;
}
#orange-cut{
    width: 15%;
    position: absolute;
    top: 10%;
    left: 32%;
    z-index: 1;
}
#orange{
    width: 20%;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 30%;

}
.one h1{
    font-size: 25vw;
    font-family:Product Sans B;
    color: #ffffff;
}
.two{
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: azure;
}
#leaf{
    top: 10%;
    left: 0%;
    transform: rotate(60deg);
    position: absolute;
    width: 18%;
    /* z-index: -5; */
}
#leaf2{
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
    position: absolute;
    width: 12%;
}
#leaf3{
    position: absolute;
    top: 10%;
    right: 0%;
    width: 20%;
}
.left-two,.rght-two{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(130, 38, 7);
}
.left-two svg{
    /* background-color: rgb(226, 48, 3);
     */
     transform: rotateX(50deg);
     width: 70%;
     margin-top: 50vh;
}