@font-face {
    font-family: Product Sans;
    src: url(/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(/fonts/Product\ Sans\ Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
}
nav{
    width: 100%;
    height: 10vh;
    /* background-color: whitesmoke; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw;
    position: fixed;
    z-index: 99;
}
nav a{
 text-decoration: none;
 font-size: 1vw;
 color: #ffffff;
}
.cntr-nav{
    display: flex;
    gap: 3vw;
}
nav i{
    font-size: 1.5vw;
    color: #ffff;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(orange,rgb(255, 68, 0));
}
#fanta{
    width: 40%;
    z-index: 2;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
    position: absolute;
}
#orange-cut{
    width: 15%;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
    position: absolute;
    top: 10%;
    left: 32%;
    z-index: 1;
}
#orange{
    width: 20%;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 30%;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;

}
.one h1{
    font-size: 25vw;
    font-family:Product Sans B;
    color: #ffffff;
}
.two{
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: azure;
}
#leaf{
    top: 10%;
    left: 0%;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
    transform: rotate(60deg);
    position: absolute;
    width: 18%;
    /* z-index: -5; */
}
#leaf2{
    top: 70%;
    left: 80%;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
    transform: rotate(-90deg);
    position: absolute;
    width: 12%;
}
#leaf3{
    position: absolute;
    top: 10%;
    /* transition: all cubic-bezier(0.19,1,0.22,1)0.5s; */
    right: 0%;
    width: 20%;
}
.left-two,.rght-two{
    width: 50%;
    display: flex;
    gap: 5vh;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #4d231c;
}
.left-two svg{
    /* background-color: rgb(226, 48, 3);
     */
     transform: rotateX(50deg);
     width: 90%;
     margin-top: 50vh;
}
.rght-two h1{
    color: #fff;
    font-size: 5vw;
}
.rght-two p{
    color: #fff;
    font-size: 1vw;
}
.three{
    width: 100%;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: #4d231c;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    border-radius: 20px;
    height: 70vh;
    margin-top: 10vh;
    background-color: #fff;
}
.card h1{
    font-size: 3vw;
    margin-top: 40vh;
}
.card button{
    padding: 1vw 2vw;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    background-color: orange;
    color: #fff;
    gap: 2vh;
}
#cola{
    position: absolute;
    width: 13%;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
    top: 15%;    
}
#pepsi{
    position: absolute;
    width: 20%;
    top: 12%;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
}
.lemon{
    width: 25vw;
    position: absolute;
    top: 0%;
}
.btn{
    cursor: pointer;
}